##begin clib

#ifndef	GRAPHICS_GFX_H
#include <graphics/gfx.h>
#endif

#ifndef	UTILITY_HOOKS_H
#include <utility/hooks.h>
#endif

#ifndef UTILITY_TAGITEM_H
#include <utility/tagitem.h>
#endif

void	RemapArray(UBYTE *source, UWORD width, UWORD height, UBYTE *dest, UBYTE *pentab, Tag, ... );
APTR	CreateRMHandler( Tag, ... );
APTR	CreateHistogram( Tag, ... );
ULONG	AddRGBImage( APTR, ULONG *, UWORD, UWORD, Tag, ... );
ULONG	AddChunkyImage( APTR, UBYTE *, UWORD, UWORD, APTR, Tag, ... );
ULONG	ExtractPalette( APTR, ULONG *, UWORD, Tag, ... );
ULONG	Render( ULONG *, UWORD, UWORD, UBYTE *, APTR, Tag, ... );
void	Planar2Chunky( PLANEPTR *, UWORD, UWORD, UWORD, UWORD, UBYTE *, Tag, ... );
ULONG	Chunky2RGB( UBYTE *, UWORD, UWORD, ULONG *, APTR, Tag, ... );
void	Chunky2BitMap( UBYTE *, UWORD, UWORD, UWORD, UWORD, struct BitMap *, UWORD, UWORD, Tag, ... );
APTR	CreateScaleEngine( UWORD, UWORD, UWORD, UWORD, Tag, ... );
ULONG	Scale( APTR, APTR, APTR, Tag, ... );
ULONG	ConvertChunky( UBYTE *, APTR, UWORD, UWORD, UBYTE *, APTR, Tag, ... );
void	CreatePenTable( UBYTE *, APTR, UWORD, UWORD, APTR, UBYTE *, Tag, ... );
APTR	CreatePalette( Tag, ... );
void	ImportPalette( APTR, APTR, UWORD, Tag, ... );
void	ExportPalette( APTR, APTR, Tag, ... );
ULONG	SortPalette( APTR, ULONG, Tag, ... );
ULONG	AddHistogram( APTR, APTR, Tag, ... );
APTR	CreateMapEngine( APTR, Tag, ... );
ULONG	MapRGBArray( APTR, ULONG *, UWORD, UWORD, UBYTE *, Tag, ... );
ULONG	MapChunkyArray( APTR, UBYTE *, APTR, UWORD, UWORD, UBYTE *, Tag, ... );
LONG	RGBArrayDiversity(ULONG *, UWORD, UWORD, Tag, ... );
LONG	ChunkyArrayDiversity(UBYTE *, APTR, UWORD, UWORD, Tag, ... );
void	InsertAlphaChannel(UBYTE *, UWORD, UWORD, ULONG *, Tag, ... );
void	ExtractAlphaChannel(ULONG *, UWORD, UWORD, UBYTE *, Tag, ... );
void	ApplyAlphaChannel(ULONG *, UWORD, UWORD, ULONG *, Tag, ... );
void	MixRGBArray(ULONG *, UWORD, UWORD, ULONG *, UWORD, Tag, ... );
void	CreateAlphaArray(ULONG *, UWORD, UWORD, Tag, ... );
void	MixAlphaChannel(ULONG *, ULONG *, UWORD, UWORD, ULONG *, Tag, ... );
void	TintRGBArray(ULONG *, UWORD, UWORD, ULONG, UWORD, ULONG *, Tag, ... );

##end clib

##begin proto
#ifndef RenderBase
  extern struct Library *RenderBase;
#endif
##end proto
