@import url(docutils.css);

body {
    font-family: arial, verdana, helvetica, sans-serif
}

.tree {
    font-size:   13px ;
    color:       #000000 }

.tree :link {
    text-decoration: none    ;
    color:           #000000 }
    
.tree :link:hover {
    text-decoration: underline }
    
.tree :visited {
    text-decoration: none    ;
    color:           #000000 }

.tree :visited:hover {
    text-decoration: underline }

div.document {
    padding: 0px 10px 0px 10px }

div.gallerygroup {
	clear: left;
}

div.gallery {
	margin: 4px;
	padding: 2px;
	border: 1px solid #000000;
	height: 400px;
	width: 320px;
	float: left;
	text-align: center;
}

div.gallery img {
	display: inline;
	margin: 5px;
	border: 1px solid #ffffff;
}

div.gallery a:hover img {
    border:1px solid #0000ff;
}

div.gallerydesc {
	text-align: center;
	font-weight: normal;
	width: auto;
	margin: 5px;
}


/*h1 {
    padding:            2px              ;
    border:             thin solid black ;
    color:              #b83939;
    background:         #ded19d}
*/

h1.title {
    text-align: left    }
    
    /*background: #b83939  } */
    /*
h2 {
    padding:            2px               ;
    border:             thin dotted black ;
    color:              #000000           ;
    background:         #d67171           }
  */  

table.layout {
  margin-top:    0 ;
  margin-bottom: 0 }

table.layout.nightly {
  border-collapse: collapse;
  margin-top:    0 ;
  margin-bottom: 0 }

td.layout, th.layout {
  padding-left:  0 ;
  padding-right: 0 }

td.layout.nightly, th.layout.nightly {
  border: 1px solid #000000;
  padding-left:  0 ;
  padding-right: 0 }

td.layout.padded {
  border: 1px solid #000000;
  padding: 8px }

td.layout.invis {
  background-color: #ffffff;
  border: 0;
  padding: 8px }
