PARAMETERS=REGISTERS
NOSTACKCHECK
STRINGMERGE
ERRORREXX
OPTIMIZE
STRINGSCONST
OPTIMIZERSIZE
OPTIMIZERINLINELOCAL
SMALLCODE
SMALLDATA
NOVERSION
UTILITYLIBRARY
INCLUDEDIR=Include
LIBRARY=sc:lib/debug.lib
LIBRARY=sc:lib/reqtoolss.lib
IGNORE=93
IGNORE=304
IGNORE=306
IGNORE=104
STARTUP=cres
PROGRAMNAME=XDME
GLOBALSYMBOLTABLE=sc:include/all.gst
OBJECTNAME=obj/
