BODY {background-color: white; color:black}
H2 {color:maroon; font-size:18pt; font-family:Final Frontier, Helvetica, sans-sarif}
H3 {color:maroon; font-size:14pt; font-family:Final Frontier, Helvetica, sans-sarif}
P  {font-size:10pt; margin-left: 0.3in; margin-right: 0.7in;
        font-family:Arial, Lucida, sans-sarif; }
PRE {margin-left: 0.4in; font-family: Lucida sans typewriter, fixed, courier}
